@import "mainStyle.css";

VBox {
    -fx-background-color: transparent;
}

.eventVert {
    -fx-border-color: null;
    -fx-border-width: 2;
    -fx-alignment: TOP_CENTER;
    -fx-padding: 20;
    -fx-translate-y: headerHeight;
}

.namePop {
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-translate-y: 10;
    -fx-translate-x: 10;
}

.descPop {
    -fx-translate-y: 110;
    -fx-translate-x: 30;
}

.timePop {
    -fx-translate-y: 50;
    -fx-translate-x: 10;
    -fx-font-size: 13;
}

.locationPop {
    -fx-translate-y: 68;
    -fx-translate-x: 10;
    -fx-font-size: 13;
}

.clubPop {
    -fx-translate-y: 86;
    -fx-font-size: 13;
    -fx-text-fill: gray;
    -fx-translate-x: 10;
}

.popPane {

}
.containerEvent {
    -fx-pref-width: 570;
    -fx-background-color: thirdColor;
    -fx-padding: 10;
}

.popScroll {
    -fx-border-color: backColor;
    -fx-pref-height: 195;
    -fx-pref-width: 600;
    -fx-padding: 0;
}