@import "mainStyle.css";

VBox {
    -fx-background-color: transparent;
}

.eventVert {
    -fx-border-color: null;
    -fx-border-width: 2;
    -fx-alignment: TOP_CENTER;
    -fx-padding: 20;
    -fx-translate-y: headerHeight;
}

.namePop {
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-translate-y: 10;
    -fx-translate-x: 10;
}

.descPop {
    -fx-translate-y: 110;
    -fx-translate-x: 30;
    -fx-wrap-text: true;
    -fx-max-width: 530;
}

.containerEvent {
    -fx-pref-width: 590;
    -fx-max-height: 600;
    -fx-min-height: 300;
    -fx-background-color: secondColor;
}

.popScroll {
    -fx-border-color: backColor;
    -fx-padding: 0;
}