@import "mainStyle.css";


VBox {
    -fx-background-color: transparent;
}

.splitVBox {
    -fx-border-color: null;
    -fx-border-width: 2;
    -fx-alignment: TOP_CENTER;
}

.container {
    -fx-padding: 20;
    -fx-spacing: 10;
}

.center {

}