.var{

    primaryColor: white;
    secondColor: #dfecfd; /* blue */
    thirdColor: #AFCFFA;
    fourthColor: #448ef3; /* Navy */
    fifthColor: #0A4AA2; /* Light Blue */
    sixthColor: #041E42;
    backColor: #91bcf8;


    sceneWidth: 800;
    sceneHeight: 600;
    headerHeight: 50;
}

.root{
    -fx-background-color: backColor;
}

TextField {
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
    -fx-font-style: italic;
}
    TextField:focused{
        -fx-font-style: normal;
    }

ScrollPane {
    -fx-background: backColor;
    -fx-border-color: fourthColor backColor backColor backColor;
    -fx-border-width: 5 2 2 2;
    -fx-padding: 10 0 0 0;
}
    ScrollPane .scroll-bar, .increment-arrow, .decrement-arrow  {
        -fx-background-color: backColor;
        -fx-border-color: backColor;
        -fx-border-width: 2;
        -fx-padding: 2;
    }

    ScrollPane .thumb {
        -fx-background-color: primaryColor;
    }
    ScrollPane .thumb:pressed {
        -fx-background-color: secondColor;
    }

Button {
    -fx-border-radius: 0;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
}
    Button:hover{
        -fx-cursor: hand;
    }

/* Button Styles */

.buttonStandard {
    -fx-border-color: fifthColor;
    -fx-background-color: secondColor;
    -fx-text-fill: fifthColor;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-family: "Source Code Pro";
}
    .buttonStandard:pressed{
        -fx-background-color: fifthColor;
        -fx-text-fill: primaryColor;
    }

.buttonLightStandard {
    -fx-border-color: secondColor;
    -fx-background-color: transparent;
    -fx-text-fill: secondColor;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-family: "Source Code Pro";
}
    .buttonLightStandard:pressed{
        -fx-background-color: secondColor;
        -fx-border-color: secondColor;
        -fx-text-fill: fifthColor;
    }


/* Font Styles */

.fontHeader1 {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: sixthColor;
}


/* Header CSS */

.headerBackground {
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-background-color: sixthColor;
    -fx-border-color: sixthColor;
    -fx-border-width: 2;
    -fx-effect: dropshadow(three-pass-box, white, 50, 0, 0, 0);
}